<section class="hero no-after">
    <div class="hero__container">
        <div class="hero__content col-7">
            <h1 class="hero__title">Responsabilidade Social Corporativa</h1>
            <p class="hero__desc bigger">
                Como verdadeiros parceiros em energia, nosso DNA está baseado na responsabilidade social e ambiental.
            </p>
            <div class="button--container">
                <a href="#" class="button button--default">acesse o nosso relatório socioambiental</a>
            </div>
        </div>
        <div class="hero__img">
            <img src="./assets/img-modelo.png" alt="">
        </div>
    </div>
</section>