<section class="hero no-after">
	<div class="hero__container">
		<div class="hero__content col-7">
			<h1 class="hero__title">Lorem ipsum</h1>
			<p class="hero__desc">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non ipsum consequat, gravida quam nec, ornare orci. Etiam at ex rutrum, vehicula quam
				vitae, consequat ex. Mauris dictum interdum augue vitae dictum. Suspendisse potenti. Nulla venenatis massa non porttitor eleifend.
			</p>
			<div class="button--container">
				<a href="#" class="button button--default">Lorem ipsum</a>
			</div>
		</div>
		<div class="hero__img">
			<img src="./assets/img-modelo.png" alt="" />
		</div>
	</div>
</section>
