.header {
	background: transparent;
	padding: 16px 0px;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
	width: 100%;
	z-index: 9999;
<<<<<<< Updated upstream
	@include media(s) {
		padding: 5px 0;
	}
=======
	@media (max-width: 1200px) {
		padding: 16px 24px;
	}
	@include media(s) {
		padding: 5px 0;
	}

>>>>>>> Stashed changes
	.menu-item {
		z-index: 21;
	}
	&__container {
		@include container;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(s) {
<<<<<<< Updated upstream
			padding: 0 20px;
			.logo img{
=======
			position: relative;
			#mega-menu-wrap-menu-principal {
				position: unset;
			}
			#mega-menu-menu-principal {
				position: absolute !important;
				width: 100vw !important;
				left: 0 !important;
				background-color: $neutro-50 !important;
				padding: 60px 24px !important;
			}
			padding: 0 20px;
			.logo img {
>>>>>>> Stashed changes
				max-width: 150px;
			}
		}
		#mega-menu-wrap-menu-principal {
			background: transparent;
		}
		#mega-menu-wrap-menu-principal #mega-menu-menu-principal {
			display: flex;
			align-items: center;
			padding: 0px;
			gap: 32px;
			list-style: none;
			@media (max-width: 1200px) {
				gap: 24px;
			}
			li #mega-menu-item-1175 {
				background-color: $verde-50 !important;
				@include s-border;
				a {
					position: relative;
					display: block;
					&::after {
						content: "";
						position: absolute;
						width: 50px;
						background-color: red;
						height: 50px;
					}
				}
			}
			li.mega-menu-item {
				padding: 16px 0px;
				&.mega-current-menu-item,
				&.mega-current-menu-ancestor,
				&.mega-current-page-ancestor {
					background: transparent !important;
					color: $verde-900;
					line-height: 100%;
					border: none;
					a.mega-menu-link {
						@include defaul-text;
						color: $verde-900;
						line-height: 100%;
						text-decoration: none;
						transition: ease-in 0.2s;
						height: auto;
						background: transparent !important;
						&:hover,
						&:focus {
							background: transparent !important;
							color: $verde-900;
							line-height: 100%;
							border: none;
							font-weight: bold;
						}
					}
				}
				&:hover {
					a {
					}
					font-weight: bold !important;
					border-radius: 8px;
				}
				a.mega-menu-link {
					@include defaul-text;
					color: $verde-900;
					line-height: 100%;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					height: auto;
					&:hover {
						background: transparent;
						color: $verde-900;
						font-weight: bold;
						line-height: 100%;
						border: none;
					}
				}
				.sub-menu {
					display: none;
					position: absolute;
					left: 0;
					top: 20px;
				}
				&.menu-item-has-children {
					position: relative;
					padding-right: 20px;
				}
				&.menu-item-has-children:hover {
					.sub-menu {
						display: block;
					}
				}
				&.menu-item-has-children::after {
					content: url("../assets/arrow_drop_down.svg");
					position: absolute;
					top: -3px;
					right: 0;
					width: 8px;
					height: 4px;
				}
			}
		}
	}
	&__container #mega-menu-wrap-menu-principal #mega-menu-menu-principal .button.mega-button {
		padding: 0 !important;
		a {
			padding: 16px 24px;
			// color: #fff !important;
			text-transform: uppercase;
			background-color: $verde-500;
			&:hover {
				// padding: ;
				padding-right: 24px !important;
			}
		}
		border-radius: 8px;
		font-family: Nunito, sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 100%;
		position: relative;
		box-shadow: 0 1px 1px #0000000f;
		a {
			font-size: 16px;
			color: $neutro-50;
			height: auto;
		}
	}
}
#mega-menu-wrap-menu-principal #mega-menu-menu-principal[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
#mega-menu-wrap-menu-principal #mega-menu-menu-principal[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
	background: $neutro-50;
	padding: 0;
	width: fit-content;
	max-width: 100%;
	min-width: 0;
	border-radius: 8px;
}
#mega-menu-wrap-menu-principal
	#mega-menu-menu-principal
	li.mega-menu-megamenu
	> ul.mega-sub-menu
	> li.mega-menu-row
	.mega-menu-column
	> ul.mega-sub-menu
	> li.mega-menu-item {
	padding: 0 !important;
	position: relative;
}
#mega-menu-wrap-menu-principal
	#mega-menu-menu-principal
	> li.mega-menu-megamenu
	> ul.mega-sub-menu
	li.mega-menu-column
	> ul.mega-sub-menu
	> li.mega-menu-item
	> a.mega-menu-link {
	color: $neutro-800 !important;
	@include bold-h4;
	font-weight: 400 !important;
	text-transform: none !important;
}
#mega-menu-wrap-menu-principal #mega-menu-menu-principal li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row {
	width: fit-content !important;
	min-width: 0 !important;
	max-width: fit-content !important;
}
#mega-menu-wrap-menu-principal #mega-menu-menu-principal li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row > ul.mega-sub-menu > li {
	padding: 24px;
}
#mega-menu-wrap-menu-principal #mega-menu-menu-principal[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu {
	top: 50px;
}
header
	#mega-menu-wrap-menu-principal
	#mega-menu-menu-principal
	> li.mega-menu-megamenu
	> ul.mega-sub-menu
	li.mega-menu-column
	> ul.mega-sub-menu
	> li.mega-menu-item
	> a.mega-menu-link {
	color: #266400;
	height: auto;
	font-family: Nunito Sans, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	padding: 12px;
	border-radius: 8px;
	position: relative;
}
header
	#mega-menu-wrap-menu-principal
	#mega-menu-menu-principal
	> li.mega-menu-megamenu
	> ul.mega-sub-menu
	li.mega-menu-column
	> ul.mega-sub-menu
	> li.mega-menu-item
	> a.mega-menu-link::after {
	content: url("../assets/seta-btn.svg");
	position: absolute;
	right: 0px;
	opacity: 1;
	top: 33%;
	z-index: 999;
	transition: all 0.2s ease-in;
	width: 20px;
	height: 20px;
}
header
	#mega-menu-wrap-menu-principal
	#mega-menu-menu-principal
	> li.mega-menu-megamenu
	> ul.mega-sub-menu
	li.mega-menu-column
	> ul.mega-sub-menu
	> li.mega-menu-item
	> a.mega-menu-link:hover {
	background: $verde-50;
	&:after {
		opacity: 1;
		right: 18px;
	}
}
#mega-menu-wrap-menu-principal #mega-menu-menu-principal > li.mega-menu-item > a.mega-menu-link {
	background: transparent !important;
	color: #266400 !important;
}
#mega-menu-wrap-menu-principal .mega-menu-toggle {
	background: transparent !important;
}
#mega-menu-wrap-menu-principal .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-slider .mega-toggle-animated-inner,
#mega-menu-wrap-menu-principal .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-slider .mega-toggle-animated-inner::after,
#mega-menu-wrap-menu-principal .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-slider .mega-toggle-animated-inner::before {
	@include media(s) {
		background: $verde-900;
	}
}
#mega-menu-wrap-menu-principal .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block {
	margin: 0 !important;
<<<<<<< Updated upstream
}
=======
}

#mega-menu-item-828 > ul.mega-sub-menu {
	width: fit-content !important;
	max-width: 500px !important;
	margin: 0 auto;
}

#mega-menu-item-836 > ul.mega-sub-menu {
	width: fit-content !important;
	max-width: 500px !important;
	margin: 0 auto;
}

#mega-menu-item-823 > ul.mega-sub-menu {
	width: fit-content !important;
	max-width: 550px !important;
	margin: 0 auto;
}
>>>>>>> Stashed changes
