.default {
	&__title {
		text-align: center;
		@include general-heading;
		color: $neutro-800;
		margin: 0;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			width: 40px;
			height: 8px;
			background: $verde-500;
			border-radius: 150px;
			left: 0;
			right: 0;
			margin: auto;
			bottom: -30px;
			@include media(s) {
				left: 0;
				right: unset;
				margin: unset;
			}
		}
		&.smaller {
			font-size: 32px;
		}
		@include media(s) {
			font-size: 32px;
			text-align: left;
		}
	}
	&__desc {
		@include defaul-text-bigger;
		margin: 0;
		color: $neutro-800;
	}
	&__smaller {
		@include defaul-text;
		font-size: 16px;
		margin: 0;
		color: $neutro-800;
	}
}
