.page--contato {
	.hero {
		&::after {
			transform: scale(0.8);
			bottom: 0;
		}
	}
	.talk-gy {
		padding: 80px 0px;
		&__container {
			@include container;
			.default__title {
				margin-bottom: 24px;
			}
			.default__smaller {
				margin: 0 auto;

				margin-bottom: 32px;
				text-align: center;
				max-width: 700px;
			}
		}
	}
	.vagas {
		height: 560px;
		padding: 80px 100px;
		background-size: cover;
		&__container {
			@include container;
			display: flex;
			align-items: center;
			height: 100%;
		}
		&__content {
			background: $neutro-50;
			max-width: 504px;
			padding: 40px;
			@include m-border;
			display: flex;
			flex-direction: column;
			gap: 24px;
			.default__title {
				text-align: start;
			}
		}
	}
}
