.bg-gy {
	background: url("../assets/gy.svg") no-repeat left;
}
.bg-gy-2 {
	background: url("../assets/bg-main-2.png") no-repeat left;
}
.galeria {
	padding-top: 120px;
	@include media(s) {
		padding-top: 0;
	}
	&__container {
		max-width: 1030px;
		margin: 0 auto;
		@include media(s) {
			padding: 0px 24px;
		}
	}
	&__holder {
		margin: 78px auto;
		display: flex;
		align-items: center;
		gap: 56px;
		@include media(s) {
			flex-direction: column-reverse;
			gap: 24px;
			margin: 40px auto;
		}
		&.fd {
			flex-direction: row-reverse;
			@include media(s) {
				flex-direction: column-reverse;
				gap: 24px;
			}
			.galeria__img {
				&:before {
					content: url("../assets/SOMBRA_VERDE.png");
					position: absolute;
					top: -130px;
					left: -146px;
					@include media(s) {
						display: none;
					}
				}
			}
		}
	}
	&__img {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		max-width: 390px;
		justify-content: end;
		position: relative;
		@include media(s) {
			justify-content: start;
			max-width: 300px;
		}
		&:before {
			content: url("../assets/SOMBRA_AMARELA.png");
			position: absolute;
			top: -130px;
			left: -146px;
			@include media(s) {
				display: none;
			}
		}
		&--holder {
			position: relative;
			img {
				height: 131px;
				border-radius: 12px;
				overflow: hidden;
				object-fit: cover;
			}
			&:nth-child(1),
			&:nth-child(4) {
				img {
					width: 170px;
					border-radius: 12px 12px 4px 12px;
					@include media(s) {
						width: 140px;
						height: 101px;
					}
				}
			}
			&:nth-child(2),
			&:nth-child(3) {
				img {
					width: 142px;
					border-radius: 12px 12px 12px 4px;
					height: 98px;
					object-fit: cover;
					@include media(s) {
						width: 100px;
						height: 70px;
					}
				}
			}
			&:nth-child(2) {
				display: flex;
				align-items: flex-end;
			}
			&:nth-child(3) {
				img {
					border-radius: 12px 4px 12px 12px;
				}
			}

			&:nth-child(4) {
				margin-right: 40px;
				@include media(s) {
					margin-right: 0px;
				}
				img {
					border-radius: 4px 12px 12px 12px;
				}
			}
		}
	}
	&__content {
		max-width: 585px;
		text-align: center;
		position: relative;
		color: $neutro-800;
		&--heading {
			display: flex;
			justify-content: center;
			@include media(s) {
				justify-content: start;
			}
			gap: 16px;
			margin-bottom: 32px;
			align-items: center;
			img {
				padding: 10px 10px 9px;
				background: $verde-50;
				@include xs-border;
			}
		}
		&--title {
			@include general-title;
			@include media(s) {
				text-align: left;
			}
		}
		&--text {
			@include media(s) {
				text-align: left;
			}
			b {
				font-weight: bold;
			}
		}
	}
}
.valores {
	margin-bottom: 120px;
	@include media(s) {
		margin-bottom: 0;
	}
	&__container {
		@include container;
	}
	&__holder {
		display: flex;
		margin-top: 86px;
		margin-bottom: 56px;
		justify-content: center;
		gap: 24px;
		flex-wrap: wrap;
	}
	&__card {
		background: $neutro-50;
		padding: 32px;
		@include ml-border;
		@include s-shadow;
		border: 1px solid $neutro-300;
		max-width: 608px;
		&--title {
			@include defaul-text-bigger;
			color: $neutro-800;
			margin: 24px 0;
		}
		&--desc {
			margin: 0;
			@include defaul-text;
			color: $neutro-800;
		}
	}
}

.page-template-page-conheca {
	.hero {
		&::after {
			display: block;
			bottom: -50px;
		}
	}
}
