.page-gy-mundo {
	.hero {
		&__sub-title {
			font-weight: 400;
			font-size: 24px;
			margin-bottom: 48px;
			color: $neutro-700;
		}
		&__img {
			img {
				border: none;
			}
		}
	}
	.mapa {
		&__container {
			@include container;
			.default__title {
				margin-bottom: 24px;
			}
		}
		#mapa {
			position: relative;
			z-index: 19;
			path {
				position: relative;
				z-index: 19;
			}
		}
		#tooltip {
			position: absolute;
			z-index: 100;
			padding: 10px;
			background-color: #f9f9f9;
			border: 1px solid #ccc;
			border-radius: 4px;
			display: none;
		}
	}
}
