.home {
	.header {
		background-color: $verde-50;
		border-bottom: 0px;
		position: relative;
		.menu-item {
			z-index: 21;
		}
		&__container #mega-menu-wrap-menu-principal #mega-menu-menu-principal .button.mega-button {
			position: relative;
			z-index: 999;
			background-color: $verde-50;
			font-size: 16px;
			&:hover {
				&:after {
					display: none;
				}
				padding-right: 24px;
			}
			a {
				color: $verde-900;
				&:hover {
					&:after {
						display: none;
					}
					padding-right: 0px;
				}
			}
		}
	}
	.hero {
		background-color: $verde-50;
		position: relative;
		&::after {
			bottom: -65px;
		}
		&-slider {
			@include container;
			&::before {
				width: 200px;
				background: $verde-500;
				height: 160%;
				background-color: $verde-500;
				position: absolute;
				content: "";
				right: -20px;
				top: -190px;
				border-radius: 16px 0px 0px 16px;
			}
			.slick-dots {
				position: absolute;
				bottom: -4px;
				left: 85px;
				max-width: 100px;
				display: flex;
				list-style-type: none;
				gap: 8px;
				padding-left: 0px;
				justify-content: center;
				@include media(s) {
					bottom: 20px;
				}
				li {
					opacity: 1;
					&.slick-active {
						opacity: 1;
						button {
							background: $verde-500;
						}
					}
				}
				button {
					width: 24px;
					height: 8px;
					border: none;
					text-indent: -9999px;
					@include xl-border;
					background: transparent;
					border: 1px solid $verde-500;
					padding: 0;
					display: block;
				}
			}
			.nav-slide-holder {
				margin-top: 48px;
				display: flex;
				gap: 150px;
			}
			.prev-arrow,
			.next-arrow {
				background: transparent;
				box-shadow: none;
				appearance: none;
				outline: none;
				border: none;
			}
			.next-arrow {
				right: 100px;
			}
		}
		&.container {
			position: relative;
		}
		&.img {
			position: relative;
			z-index: 20;
			img {
				position: relative;
				z-index: 20;
			}
		}
		&__img {
			position: relative;
			.cards {
				&__info {
					position: absolute;
					z-index: 30;
					padding: 16px;
					left: 24px;
					bottom: 24px;
					text-decoration: none;
					display: block;
					transition: all 0.3s ease-in;
					&:hover {
						padding-right: 32px;
						.cards__title {
							&::after {
								opacity: 1;
								right: -20px;
							}
						}
					}
					.cards__title {
						font-size: 16px;
						position: relative;
						&::after {
							transition: all 0.2s ease-in;
							content: url("../assets/seta-btn-verde.svg");
							position: absolute;
							right: -30px;
							opacity: 0;
							top: 5%;
						}
					}
				}
				&__category {
					position: absolute;
					z-index: 30;
					left: 24px;
					bottom: 91px;
				}
			}
		}
	}
	.solucoes {
		padding: 80px 0px;
	}
	.segmentos {
		padding: 80px 0px;
	}
	.cases {
		&__container {
			padding-top: 0px;
			a {
				text-decoration: none;
			}
			.cards__bigger {
				height: 339px;
				.cards__info {
					padding: 16px;
				}
				.cards__title {
					font-size: 16px;
					text-decoration: none;
				}
			}
			.relatorios__content {
				gap: 0;
			}
		}
	}
	.clientes {
		padding: 80px 0px;
		.default__title {
			margin-bottom: 50px;
		}
		&__container {
			max-width: 1129px;
			margin: 0 auto;
		}
		.clientes-slider {
			.slick-dots {
				position: absolute;
				bottom: -72px;
				left: 0px;
				right: 0px;
				margin: 0 auto;
				max-width: 100px;
				display: flex;
				list-style-type: none;
				gap: 8px;
				padding-left: 0px;
				justify-content: center;
				@include media(s) {
					bottom: 20px;
				}
				li {
					opacity: 1;
					&.slick-active {
						opacity: 1;
						button {
							background: $verde-500;
						}
					}
				}
				button {
					width: 24px;
					height: 8px;
					border: none;
					text-indent: -9999px;
					@include xl-border;
					background: transparent;
					border: 1px solid $verde-500;
					padding: 0;
					display: block;
				}
			}
		}
		.nav-slide-holder {
			margin-top: 50px;
			display: flex;
			gap: 150px;
			justify-content: center;
		}
		.prev-arrow-clientes,
		.next-arrow-clientes {
			background: transparent;
			box-shadow: none;
			appearance: none;
			outline: none;
			border: none;
		}
		.next-arrow {
			right: 100px;
		}
		&__slide {
			img {
				max-width: 200px;
				height: 106px;
				object-fit: contain;
				filter: grayscale(100%);
				margin: 0 auto;
			}
		}
	}
	.hub {
		padding-bottom: 321px;
		background-color: $verde-50;
		.newsletter.sidebar {
			margin-top: 0px !important;
		}
		.button--container {
			margin: 56px 0 100px;
		}
	}
	.topo__hub--destaque {
		.hub__floating {
			position: relative;
		}
	}
	.mapa {
		padding: 80px 0px;
	}
}
