.home {
	.header {
		border-bottom: 0px;
		position: relative;
		&__container #mega-menu-wrap-menu-principal #mega-menu-menu-principal .button.mega-button {
			padding: 16px 24px;
			a {
				color: $verde-900 !important;
				text-transform: uppercase;
			}
		}
		.menu-item {
			z-index: 21;
		}
		#mega-menu-item-843 {
			position: relative;
			z-index: 9999;
			background-color: $verde-50 !important;
			font-size: 16px;
			padding: 16px 16px !important;
			color: $verde-900 !important;
			text-transform: uppercase;
			&:hover {
				&:after {
					display: none;
				}
			}
			.mega-menu-link {
				color: $verde-900 !important;
				&:hover {
					&:after {
						display: none;
					}
					padding-right: 0px;
				}
			}
		}
	}
	.hero {
		background-color: $verde-50;
		position: relative;
		&::after {
			bottom: -65px;
		}
		&-slider {
			@include container;
			&::before {
				width: 200px;
				background: $verde-500;
				height: 160%;
				background-color: $verde-500;
				position: absolute;
				content: "";
				right: -15px;
				top: -190px;
				z-index: 9997;
				border-radius: 16px 0px 0px 16px;
<<<<<<< Updated upstream
=======
				@media (max-width: 1200px) {
					height: 100% !important;
					right: 0;
					width: 164px;
				}
>>>>>>> Stashed changes
				@include media(s) {
					content: none;
				}
			}
			.slick-list {
				z-index: 9998;
			}
			.slick-slide {
				height: 500px;
				@include media(s) {
					height: auto;
				}
			}
			.slick-dots {
				position: absolute;
				bottom: -4px;
				left: 85px;
				max-width: 100px;
				display: flex;
				list-style-type: none;
				gap: 8px;
				padding-left: 0px;
				justify-content: center;
				@include media(s) {
					bottom: 20px;
				}
				li {
					opacity: 1;
					&.slick-active {
						opacity: 1;
						button {
							background: $verde-500;
						}
					}
				}
				button {
					width: 24px;
					height: 8px;
					border: none;
					text-indent: -9999px;
					@include xl-border;
					background: transparent;
					border: 1px solid $verde-500;
					padding: 0;
					display: block;
				}
			}
			.nav-slide-holder {
				margin-top: 48px;
				display: flex;
				gap: 150px;
			}
			.prev-arrow,
			.next-arrow {
				background: transparent;
				box-shadow: none;
				appearance: none;
				outline: none;
				border: none;
			}
			.next-arrow {
				right: 100px;
			}
		}
		&.container {
			position: relative;
		}
		&.img {
			position: relative;
			z-index: 20;
			img {
				position: relative;
				z-index: 20;
			}
		}
		&__img {
			position: relative;
			.cards {
				&__info {
					position: absolute;
					z-index: 30;
					padding: 16px;
					left: 24px;
					bottom: 24px;
					text-decoration: none;
					display: block;
					transition: all 0.3s ease-in;
					&:hover {
						padding-right: 32px;
						.cards__title {
							&::after {
								opacity: 1;
								right: -20px;
							}
						}
					}
					.cards__title {
						font-size: 16px;
						position: relative;
						&::after {
							transition: all 0.2s ease-in;
							content: url("../assets/seta-btn-verde.svg");
							position: absolute;
							right: -30px;
							opacity: 0;
							top: 5%;
						}
					}
				}
				&__category {
					position: absolute;
					z-index: 30;
					left: 24px;
					bottom: 91px;
				}
			}
		}
	}
	.solucoes {
		padding: 80px 0px;
		@include media(s) {
			padding: 40px 0;
<<<<<<< Updated upstream
=======
			.tab-content {
				padding: 0px 24px;
			}
>>>>>>> Stashed changes
		}
		.nav {
			@include media(s) {
				width: 100%;
				flex-wrap: nowrap;
				overflow: auto;
				border-radius: 0;
				margin-bottom: 20px;
<<<<<<< Updated upstream
				&-link {
					padding: 10px 20px;
=======
				padding: 16px 24px;
				&-link {
					padding: 10px 20px;
					flex-shrink: 0;
>>>>>>> Stashed changes
				}
			}
		}
	}
	.segmentos {
		padding: 80px 0px;
		@include media(s) {
			padding: 40px 0;
		}
	}
	.cases {
		&__container {
			padding-top: 0px;
			@media (max-width: 1200px) {
				.relatorios__content {
					flex-wrap: wrap;
					gap: 24px;
					.col-2 {
						margin-right: 0px;
					}
				}
			}
			a {
				text-decoration: none;
			}
			.col-2 {
				@include media(s) {
					margin-right: 20px;
				}
			}
			.cards__bigger {
				height: 339px;
				.cards__info {
					padding: 16px;
				}
				.cards__title {
					font-size: 16px;
					text-decoration: none;
				}
			}
			.relatorios__content {
				gap: 0;
			}
		}
	}
	.clientes {
		padding: 80px 0px;
		@include media(s) {
			padding: 40px 0;
		}
		.default__title {
			margin-bottom: 50px;
			@include media(s) {
				padding: 0px 24px;
			}
		}
		&__container {
			max-width: 1129px;
			margin: 0 auto;
		}
		.clientes-slider {
			width: 100%;
			.slick-dots {
				position: absolute;
				bottom: -72px;
				left: 0px;
				right: 0px;
				margin: 0 auto;
				max-width: 100px;
				display: flex;
				list-style-type: none;
				gap: 8px;
				padding-left: 0px;
				justify-content: center;
				@include media(s) {
					bottom: 20px;
				}
				li {
					opacity: 1;
					&.slick-active {
						opacity: 1;
						button {
							background: $verde-500;
						}
					}
				}
				button {
					width: 24px;
					height: 8px;
					border: none;
					text-indent: -9999px;
					@include xl-border;
					background: transparent;
					border: 1px solid $verde-500;
					padding: 0;
					display: block;
				}
			}
		}
		.nav-slide-holder {
			margin-top: 50px;
			display: flex;
			gap: 150px;
			justify-content: center;
		}
		.prev-arrow-clientes,
		.next-arrow-clientes {
			background: transparent;
			box-shadow: none;
			appearance: none;
			outline: none;
			border: none;
		}
		.next-arrow {
			right: 100px;
		}
		&__slide {
			img {
				max-width: 200px;
				height: 106px;
				object-fit: contain;
				filter: grayscale(100%);
				margin: 0 auto;
			}
		}
	}
	.hub {
		padding-bottom: 321px;
		background-color: $verde-50;
		@include media(s) {
			padding: 40px 0;
		}
		.newsletter.sidebar {
			margin-top: 0px !important;
			padding: 0;
		}
		.button--container {
			margin: 56px 0 100px;
		}
		&__floating--middle {
			max-width: 100%;
		}
	}
	.topo__hub--destaque {
		@media (max-width: 1200px) {
			padding: 0px 24px;
			.card-block {
				max-width: 68%;
			}
		}
		@include media(s) {
			padding: 0;
		}
		.hub__floating {
			position: relative;
			.cards__bigger {
				.cards__desc {
					color: $verde-900;
					font-weight: bold;
					@include highlight-links;
					font-size: 16px;
					transition: all 0.3s ease-in;
					opacity: 0;
				}
				&:hover {
					.cards__desc {
						opacity: 1;
						height: 100%;
					}
				}
			}
		}
	}
	.mapa {
		padding: 80px 24px;
	}
	.newsletter {
		@include media(s) {
			margin-top: -130px !important;
			padding: 40px 24px;
		}
	}
}

.mapa {
	@include media(s) {
		display: none;
	}
}
