.page--segmentos {
	.hero {
		background: $verde-50;
		&__top {
			display: flex;
			align-items: center;
			gap: 24px;
		}
		&__title {
			margin-bottom: 0px;
			font-size: 40px;
		}
		&__icon {
			background: $neutro-50;
			padding: 16px;
			@include s-border;
			img {
				width: 40px;
				height: 40px;
				object-fit: contain;
			}
		}
		&__content {
			.default__title {
				text-align: left;
				margin: 48px 0px;
			}
		}
		&__img {
			&::before {
				display: none;
			}
			img {
				border-color: $neutro-50;
			}
		}
	}
	.card-check {
		max-width: 397px;
		width: 100%;
		&__text {
			font-size: 16px;
		}
	}
	.pr-operating {
		overflow: hidden;
		padding-bottom: 0px;
		&__container {
			padding-right: 0px;
			display: flex;
			gap: 24px;
			background: $neutro-50;
			box-shadow: none;
			padding: 0;
			@include media(s) {
				flex-direction: column;
				padding: 0px 24px;
			}
		}
		&__content {
			max-width: 485px;
			display: block;
			text-align: left;
			margin: 0;
			flex-shrink: 0;
			position: relative;
			@include media(s) {
				overflow: unset;
			}
			.default__title {
				text-align: left;
				padding-right: 2px;
			}
			.default__desc {
				font-size: 16px;
				line-height: 150%;
				margin: 40px auto;
			}
			.nav-slide-holder {
				display: flex;
				position: relative;
				@include media(s) {
					display: none;
				}
				.prev-arrow,
				.next-arrow {
					display: flex;
					border: none;
					position: absolute;
					justify-content: center;
					align-items: center;
					top: 30px;

					background: transparent;
					@include media(s) {
						top: -100px;
					}
				}
				.prev-arrow {
					left: -4px;
				}
				.next-arrow {
					left: 140px;
				}
			}
		}
		&__holder {
			position: relative;
		}
		&__slider {
			max-width: 851px;
			@include media(s) {
				max-width: 100%;
			}
			.slick-list {
				margin: 0 -12px;
				padding: 0px 0px 40px;
			}
			.slick-dots {
				position: absolute;
				bottom: 21px;
				left: -450px;
				max-width: 100px;
				display: flex;
				list-style-type: none;
				gap: 8px;
				padding-left: 0px;
				justify-content: center;
				margin: 0;
				@include media(s) {
					bottom: 0px;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				li {
					opacity: 1;
					&.slick-active {
						opacity: 1;
						button {
							background: $verde-500;
						}
					}
				}
				button {
					width: 24px;
					height: 8px;
					border: none;
					text-indent: -9999px;
					@include xl-border;
					background: transparent;
					border: 1px solid $verde-500;
					padding: 0;
					display: block;
				}
			}
		}
		&__slide {
			margin: 0 12px;

			.card-check {
				max-width: 265px;
				height: 147px;
				width: 100%;
				@include media(s) {
					max-width: 100%;
				}

				&__text {
					font-size: 16px;
					text-align: left;
					margin: 0;
				}
			}
		}
	}
	.pr-custom {
		@include media(s) {
			padding-bottom: 60px;
		}
		&__content {
			margin-bottom: 0px;
			@include media(s) {
				padding: 12px 0px;
			}
		}
	}
	.cases {
		background: $verde-50;
		padding: 80px 0px 400px;
		@include media(s) {
			padding: 60px 0 40px !important;
			margin-bottom: 60px !important;
		}
		&__container {
			@include container;
			padding-top: 0px;
			@include media(s) {
				padding: 0;
			}
		}
		&__holder {
			margin: 32px 0;
			@include media(s) {
				flex-wrap: wrap;
				padding: 0px 24px;
				.card-flex {
					flex-wrap: wrap;
					.card-img {
						height: 100px;
						max-width: 100%;
					}
				}
			}
		}
		.default__title {
			margin-bottom: 32px;
			@include media(s) {
				@include container;
				margin-bottom: 24px;
			}
		}
		.relatorios__content {
			@include media(s) {
				margin-bottom: 0px !important;
				padding: 0px 24px;
				overflow: auto;
				a {
					margin-bottom: 0px !important;
				}
			}
		}
	}

	.newsletter {
		@include media(s) {
			margin-top: -134px !important;
		}
	}
	.cases-cta {
		padding-top: 0px;
	}
	&.general {
		.default__title.smaller {
			color: $neutro-700;
		}
		.cases {
			margin-bottom: 260px;
			padding-bottom: 0px;
			.relatorios__content {
				gap: 0;
				margin-bottom: 100px;
				a {
					text-decoration: none;
					margin-bottom: -180px;
				}
			}
		}
		.newsletter {
			margin-top: 0px !important;
		}
		.cards {
			&__info {
				padding: 16px;
			}
			&__title {
				text-decoration: none;
				font-size: 16px;
				position: relative;
				transition: all 0.2s ease-in;

				&::after {
					transition: all 0.2s ease-in;
					content: url("../assets/seta-btn-verde.svg");
					position: absolute;
					right: -10px;
					opacity: 0;
					top: 33%;
				}
			}
			&:hover {
				.cards__title {
					&::after {
						opacity: 1;
						right: 5px;
					}
				}
			}
			&__bigger {
				max-width: 187px;
				height: 337px;
			}
		}
	}
}
